@model PedidoCadastroViewModel
@{
    ViewData["Title"] = "Home Page";
}
<fieldset title="Pedido">

  <label>@Model.PedidoCadastroId</label><br />

  <label>@Model.IdPessoa</label><br />

  <label>@Model.DataAlteracao</label><br />  

</fieldset>
