@{
    ViewData["Title"] = "Home Page";
}

<div class="well">

<p>Este projeto serve de exemplo de uma arquitetura básica utilizando REST e MVC</p>
  <p>Ele é composto de:</p>
  <ul>
    <li>Pedido.Service - Serviço RESTFUL não exposto ao client</li>
    <li>Pedido.Web - Frontend que que comsome o Pedido.Service</li>
    <li>TODO - Integração exemplo com WCF</li>
  </ul>


</div>
